{% extends 'tasks/base_tasks.html'%}
 
	<h1>HI</h1>
 
{% block title %}
		
	task
{% endblock %}


{% block content %}
<div class="features">
	<div class="card" style="width: 50rem;background-color: #dddddd;color:#2c2c2c;">
 	 <div class="card-header">
  	  ИНформация по заданию
 	 </div>
	 Общая
  	
 	 <ul class="list-group list-group-flush">
 	  <li class="list-group-item">Название-{{task.name}}</a></li>
  	  <li class="list-group-item">Приоритет-{{task.priority}}</li>
	  <li class="list-group-item">Категория-{{task.category}}</li>
  	  <li class="list-group-item">ДАта создания-{{task.date_create}}</li>
	  <li class="list-group-item">ДАта исполнения-{{task.date_to_do}}</a></li>
  	  <li class="list-group-item">Статус-{{task.status}}</li>
	  <details><summary>Информация</summary>
	  
  	  <li class="list-group-item" style="color:#2c2c2c;">{{task.description}}</li>
	  </details>
	  <details  style="text-align: left;">
	  <summary>Примечания</summary>

  	  <li class="list-group-item"  style="color:#2c2c2c;">
		{%for remark in remark_list%}
		
			 {{remark}}</br>
		  {%endfor%}
		 </br>
	 </li>
	 </details>
	 </div>

{{s}}	
{% if request.user.is_authenticated %}



<div class="obj-panel">
	<p>Выбрать</p>
	 {% block obj-panel%}
		<a class="btn btn-light" href="{{task.get_update_url}}">Редктировать</a>
		<a class="btn btn-danger" href="{{task.get_delete_url}}">Del</a>
		<a class="btn btn-light" href="{%url 'tasks_list_url'%}">Вернуться к списку</a>
	 {%endblock%}
	</div>
{% endif%}




<br>
{{s1}}
<br>

</div>

{% endblock %} 

<!--{% for fl in flat.items %}
		
		<h4>{{fl.label}}</h4>
		<p>{{fl}}</p>
	{% endfor %}
-->

